$red: #FF3333;
/*$primary-color: rgba(#000,0.4);*/
$primary-color: #FF3333;
$bg-color: #ffffff;
$red-opacity: rgba(red,0.3);

.featured-container {
  height: 50vh;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

.featured-section {
  margin-top: 2.5Vh;
  letter-spacing: 1px;
  text-shadow: .1px .1px .1px $primary-color;
}

.featured-container img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  height: 30vh;
  width: auto;
  display: none;
  text-align: center;
}

.featured-container .hidden {
  visiblity: hidden;
  display: none;
}

.feature-pic-container {
  text-align: center;
}
