$red: #FF3333;
/*$primary-color: rgba(#000,0.4);*/
$primary-color: #FF3333;
$bg-color: #ffffff;
$red-opacity: rgba(red,0.3);

.featured-container {
  width: 100%;
}

.featured-section {
  margin-top: 2.5Vh;
  letter-spacing: 1px;
  text-shadow: .1px .1px .1px $primary-color;
}

.featured-container img {
  border-radius: 5%;
  display: none;
}

.featured-container .hidden {
  visiblity: hidden;
}

.feature-pic-container img.show {
  max-width: 100%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
