$red: #FF3333;
/*$primary-color: rgba(#000,0.4);*/
$primary-color: #FF3333;
$bg-color: #ffffff;
$red-opacity: rgba(red,0.3);

.jumbotron {
  margin-top: 2.8rem;
  border-top: $red-opacity solid 1px;
  padding-top: 1.3rem;
}

.carousel-container {
  height: 33Vh;
  width: 100%;
  margin-top: 1.5Vh;
  margin-left: 3.5vw;
}

.carousel-container ul {
  display: inline-block;
}

.carousel-container li {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  list-style: none;
}

.carousel-item img {
  width: 20Vw;
  height: 30Vh;
  opacity: 0.67;
  vertical-align: middle;
  padding: 0;
  border-radius: 50%;
  border: solid $primary-color 0.25rem;
}

.carousel-item img:hover {
  opacity: 1;
  border-radius: 10%;
}


.buttons {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: $red-opacity solid 1px;
  margin-bottom: 1rem;
}

.featured-container {
  height: 40Vh;
  width: 100%;
}


.featured-container section,
  .featured-container aside {
  margin: 2rem;
}

.body .featured-section {
  height: 35Vh;
  overflow-y: auto;
  margin-top: 2.5Vh;
  letter-spacing: 1px;
  text-shadow: .1px .1px .1px $primary-color;
}

.featured-container img {
  width: 20Vw;
  height: 30Vh;
  margin: 0;
  margin-left: 3.5vw;
  margin-top: 5vh;
  left: 50%;
  border-radius: 5%;
}
